Import the minimum-iteration-count parameter of SCRAM SASL registry and enforce it

The [SASL SCRAM family registry](https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml) as specified in [RFC 7677 § 5.2](https://tools.ietf.org/html/rfc7677#section-5.2) provides a minimum-iteration-count parameter.

We should include that parameter in our code and offer an option to enforce that parameter (enabled by default).

(A reason to turn this off could be if the alternative is fallback to PLAIN.)