Remove support for unspecified SCRAM variants

The following SCRAM variants are supported by aiosasl, but not specified in any IETF document:

* SCRAM-SHA-224(-PLUS)
* SCRAM-SHA-384(-PLUS)
* SCRAM-SHA-512(-PLUS)

The only SCRAM-SHA-* specifications are: [RFC7677](https://tools.ietf.org/html/rfc7677) (-256) and [RFC5802](https://tools.ietf.org/html/rfc5802) (-1). Of those, RFC 7677 explicitly states:

> Note: Members of this family MUST be explicitly registered using the "IETF Review" [RFC5226] registration procedure.  Reviews MUST be requested on the KITTEN mailing list kitten@ietf.org (or a successor designated by the responsible Security Area Director).
> […]
> Note to future SASL SCRAM mechanism designers: each new SASL SCRAM mechanism MUST be explicitly registered with IANA and MUST comply with the SCRAM-mechanism naming convention defined in Section 4 of [RFC5802].

So while the mechanisms outlined above adhere to the naming convention, they’re [not registered with the IANA](https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml) at this point in time.

This is thus a violation of the specification/unauthorized extension of the registered set of algorithms for no good reason. We should drop them to stay within the specification.

In addition, an argument can be made that it’s not our place to invent new SCRAM variants without review.