Allow unassigned codepoints in SCRAM username

[RFC 5802 §5.1](https://tools.ietf.org/html/rfc5802#section-5.1) states (emphasis mine):

> Before sending the username to the server, the client SHOULD prepare the username using the "SASLprep" profile [RFC4013] of the "stringprep" algorithm [RFC3454] treating it as a query string (i.e., **unassigned Unicode code points are allowed**).  If the preparation of the username fails or results in an empty string, the client SHOULD abort the authentication exchange.

We currently do not allow unassigned codepoints for the SCRAM username.