SASLprep is incorrectly applied in PLAIN

In PLAIN, preparing the password string (and all the other stuff) is the server’s job. This is, according to RFC 4616, to allow interop with other systems ([RFC 4616 § 2](https://tools.ietf.org/html/rfc4616), emphasis mine):

> Upon receipt of the message, **the server will verify the presented (in the message) authentication identity (authcid) and password (passwd)** with the system authentication database, and it will verify that the authentication credentials permit the client to act as the (presented or derived) authorization identity (authzid).  If both steps succeed, the user is authenticated.
> 
> The presented authentication identity and password strings, as well as the database authentication identity and password strings, are **to be prepared before being used in the verification process**.  The [SASLPrep] profile of the [StringPrep] algorithm is the RECOMMENDED preparation algorithm.  The SASLprep preparation algorithm is recommended to improve the likelihood that comparisons behave in an expected manner.  The SASLprep preparation algorithm is not mandatory so as **to allow the server to employ other preparation algorithms (including none) when appropriate**.  For instance, use of a different preparation algorithm may be necessary for the server to interoperate with an external system.

Thus, all prepping needs to be removed from PLAIN.